/* HTML tag selectors *********************************************************/
body {
  background-color: #e8eaa1;
  text-align: center;
  color: #373331;
  font-family: 'Rokkitt', serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #80ac7b;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #80ac7b;
  border-width: 6px;
  width: 33%;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 5.5rem;
  margin: 100px auto 0 auto;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
}

h4 {
  margin: 0;
  margin-top: 20px;
}

/* Classe selectors ***********************************************************/
.top-container {
  background-color: #80AC7B;
  padding-top: 100px;
  padding: 50px;
  position: relative;
}

.middle-container {
  background-color: #605a56;
  padding: 50px;
}

.bottom-container {
  background-color: #373331;
  color: #80AC7B;
  padding: 50px;
}

.binaryIcon {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bugIcon {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skillRow {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bugSkillDescription {
  margin-bottom: 0;
}

.copyright {
  margin-bottom: 0;
  color: #605a56;
}

.btn {
  background-color: #80AC7B;
  color: #373331;
  font-weight: 500;
  font-size: 20px;
  border-radius: 7px;
  padding: 0 30px 0 30px;
  font-family: 'Ubuntu', sans-serif;
  display: block;
  width: 160px;
  margin: auto auto 10px auto;
}

.footer-link {
  margin-top: 20px;
}

.intro {
  width: 45%;
  margin: auto auto 25px auto;
}

.worldMap {
  width: 65%;
  margin: auto;
}

/* ID selectors ***************************************************************/
#firstSentence {
  font-size: 1.25rem;
}

#contact_titel {
  margin-top: 0;
}
